/* .home .container,
.home .row,
.home .col {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
} */

.home1 {
  background-color: white;
  font-size: 25px;
  padding: 50px;
  margin: 100px;
  height: 400px;
  width: 550px;
}
.home1 .btn {
  margin-top: 20px;
}
