.home {
  position: relative;
  text-align: center;
  height: 666.4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("Material/HomePic.jpg");
  background-position: center;
  background-size: cover;
}

.home .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

#font-size-20 {
  font-size: 20px;
}
#font-size-15 {
  font-size: 15px;
}
#font-size-40 {
  font-size: 40px;
}

.mid .btn {
  width: 200px;
  margin-bottom: 5px;
}
