.navbar-area {
  height: 60px;
  background-color: #254380;
}
.navbar-container {
  width: 90%;
  height: 60px;
  margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.left {
  float: left;
  padding: 18px;
  margin: auto;
  top:50%
}
.right {
  float: right;
  padding: 18px;
  margin: auto;
  top: 50%;
}
